.nav{
    display: flex;
    background-color: deepskyblue;
    flex-flow: row;
    align-items: stretch;
    justify-content: space-around;
}
.nav ul{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}
.nav li{
    margin: 20px;
    display: flex;
    align-items: stretch;
    justify-items: center;
}
.body {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: row;
}

.home {
    display: flex;
    flex-direction: column;
}
.stuff {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

img {
    height: 20vh;
    width: 10vw;
    border: 2px black solid;
}